<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='css/bootstrap.css') }}"">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/blocks.min.css') }}"
    />
    <style>
        body {
    
            background-image: url("{{url_for('static', filename='images/album-art.jpg')}}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          }
          </style>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          <a class="nav-item nav-link" id="listen" href="/login">Listen</a>
          
                 
        </div>
      </div>
      
          
    </nav>
    {% for song in tracks %}
    <h1 style="color:gold; text-align: center;">Enjoy listen to "{{song.track_title}}" </h1> 
    <div class="card-deck" >
      <div class="card">
                    
        <div class="card-body block" style="width:98%; height:21em;">
          
          
          <p style="text-align: center;">
            Track: {{song.track_title}}<br>
            Artist: {{song.track_artist}}<br>
            Language: {{song.track_language}}<br>
            Duration: {{song.track_duration}}
            
          </p>
          <div class="container">
            <audio controls class="card-text">
              
                <source class="block" src="{{url_for('static', filename='songs/' + song.track_location) }}">  
              
            </audio>
          <div style="text-align: top-right;">
            <p><a href="/logout" class="navbar-form navbar-right">Login</a></p>
          </div>  
            <form action="/download" class="navbar-form navbar-left" method="POST">
              <br>
              <div class="filen"><button type="submit" name="download" value={{song.track_location}} id="download" class="btn btn-primary">DOWNLOAD</button></div>
            </form>
            <br>
            
            
            
          </div>
      
        </div>
      
      </div>
      <img src="{{ url_for('static', filename='images/art-album.jpg')}}" width="200" align="right">
      
    </div>

   


    {% endfor %}    


    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


  </body>
</html>
    
