{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>India Map</title>
</head>
<body>
	<h1>Musical map of India</h1>
	<h3>SELECT THE REGION YOU WANT TO HERE THE NEXT SONG FROM🤩</h3>
	<h5>Currently only Andhra Pradesh, Tamil Nadu and karnataka are linked</h5>
	<img src="{{url_for('static', filename='images/indiamap.png')}}" usemap="#india" alt="map of India" heightwidth = "400" height = "400"/>
	<map name="india">
		<area shape="rect" coords="90,50,160,90" href="/search/language/Punjabi" alt="Punjabi Songs">
		<area href = "/search/language/Andhra" shape = "rect" coords = "180,224,150,300" alt = "goto andhra"> 
		<area href = "/search/language/Karnatak" shape = "rect" coords = "120,244,130,315" alt = "goto karnatak Songs">
		<area href = "/search/language/Tamil" shape = "rect" coords = "180,364,150,320" alt = "goto tamil songs">
		<area href = "/search/language/Kerala" shape ="rect" coords = "120,364,130,320" alt = "goto kerala">
	</map>
</body>
</html>
{% endblock %}