{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <style>
      body {
  
        background-image: url("{{url_for('static', filename='images/disco2.jpg')}}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>
    <h1 align="center" style="color: gold;">Pen down your thoughts about your favourite music📝</h1>
    <h1 align="center" style="color: greenyellow;">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <form method="POST" action="/delete_note/{{note.id}}">
          <button type="submit" id="noteId" value ="{{note.id}}" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
        
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}