<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='css/bootstrap.css') }}"">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/blocks.min.css') }}"
    />
    <meta name="viewport" content="width=device-width", initial-scale=1.0"/>
  </head>
  <body style="background-color: white;">
    <input type="text" class="live-search-box" placeholder="search here" />
  
    <ul class="live-search-list" id="UnList"type="None"> 
    {% for song in tracks %}
        <!-- <p onload="makeList(tracks)"></p>
    <form>
        <input type="submit" value={{song.track_location}} id="btnRun" onclick="makeList(tracks);" >
    </form> -->
        <li><a href="/listen">{{song.track_title}}</a></li>
    {% endfor %}
    </ul>   
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script type="text/javascript">
    jQuery(document).ready(function($){
  
$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});
  
$('.live-search-box').on('keyup', function(){
  
var searchTerm = $(this).val().toLowerCase();
  
    $('.live-search-list li').each(function(){
  
        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }
  
    });
  
});
  
});
</script>
  
</body>
</html>