{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='css/bootstrap.css') }}"">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/blocks.min.css') }}"
    />
    <style>
        body {
    
            background-image: url("{{url_for('static', filename='images/album-art.jpg')}}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          }
    </style>
    <meta name="viewport" content="width=device-width", initial-scale=1.0"/>
  </head>
  <body style="background-color: white;">
    <br>
    <h3><label for="live-search-box">Search your next song : </label>
    <input type="text" class="live-search-box" placeholder="search here" /></h3>
    <br> <br>
    <ul class="live-search-list" id="UnList"type="None"> 
    {% for song in user.tracks %}
        
        <li>
            
            <div class="card-body block" style="width:40%; height:10em;">
               
                <p style="text-align: center;">
                  track: <a href="/search/{{song.track_title}}">{{song.track_title}}</a><br>
                  Artist: {{song.track_artist}}<br>
                  language: {{song.track_language}}<br>
                  Duration: {{song.track_duration}} Seconds
                </p>
            <div class="container">
                        
                  
                  
                </div> 
        </li>
    {% endfor %}
    </ul>   
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script type="text/javascript">
    jQuery(document).ready(function($){
  
$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});
  
$('.live-search-box').on('keyup', function(){
  
var searchTerm = $(this).val().toLowerCase();
  
    $('.live-search-list li').each(function(){
  
        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }
  
    });
  
});
  
});
</script>
  
</body>
</html>
{% endblock %}