{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Add some tunes</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}"">
	</head>
	<body style="background-color: #343a40">
		<div class="card text-center" style="background-color: white">
			<form method=POST enctype=multipart/form-data action="{{ url_for('views.update') }}">
				<div class="card-header">
					<h1 class="h1" style="color:#007bff;">update your library</h1>
				</div>
				<div class="cutstom-file"><input type="file" name="audio" id="ent" class="btn btn-primary"></div>
				<br>
				<label for="song_lang">Please tell the language of song : </label>
				<input type="text" id="song_lang" class = "song_lang" name="song_lang" placeholder="Tamil/Punjabi..."><br>
				<br>
				<input class="btn btn-outline-dark" type="submit" id="sub">
				<div class="card-footer text-muted"></div>
			</form>
		</body>
	</html>
	{% endblock %}